/* Box-2 style and media query */
.box-1 {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 100px;
}

.box-1:hover {
    animation: rotate 3s ease 3;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}

    50% {transform: rotate(180deg);}

    100% {transform: rotate(360deg);}
}
/* Box-2 style and media query */
.box-2 {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 100px;
    margin-bottom: 300px;
}
.box-2:hover {
    position: relative;
    animation: movement 3s ease 3;
}

@keyframes movement {
    0%,100% {transform: translateX(0px) translateY(0px);}
    25% {transform: translateX(250px);}
    50% {transform: translateX(250px) translateY(250px);}
    75% {transform: translateX(0px) translateY(250px);}
}
/* Box-3 style and media query */
.box-3 {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 100px;
    margin-bottom: 300px;
}
.box-3:hover {
    position: relative;
    /* animation: both 3s ease-in-out; */
    animation-name: both;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}

@keyframes both {
    0%,100% {transform: translateX(0px) translateY(0px) rotate(0deg);}
    25% {transform: translateX(200px) rotate(90deg);}
    50% {transform: translateX(200px) translateY(200px) rotate(180deg);}
    75% {transform: translateX(0px) translateY(200px) rotate(360deg);}
    /* 100% {transform: translateX(0px) translateY(0px) rotate(360deg);} */
}