*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
}
.nav-bar>img{
    width: 200px;
    height: 60px;
    margin-left: 20px;
}
.nav-bar>ul{
    width: 40%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar>ul>li>a{
    text-decoration: none;
    color: #a0cb47;
    font-size: large;
}
.nav-bar>ul>li>a:hover{
    text-decoration: underline;
}
.box{
    width: 30%;
    height: 70px;
    background-color: #a0cb47;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 360px;
    z-index: -100;
}
.content{
    /* border: 1px solid green; */
    width: 65%;
    margin: 100px auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row>div{
    /* border: 1px solid grey; */
    width: 30%;
}
.content img{
    width: 35px;
    height: 25px;
    position: relative;
    top: -15px;
    left: 55px;
}
.content p{
    font-size: small;
}
.chat img{
    width: 50px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
} 